.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.jumbotron
{
    background-image: url('./images/friend.jpg');
    background-color: :white;
    background-attachment: fixed;
    min-height: 400px;
    margin-top: 0px;
    margin-bottom: 8px;
}
#box-wrapper{
    background-image: url(../images/friend1.jpg);
    background-size: 800px 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 800px;
}